
@import "tailwindcss";

html, body {
  position: relative;  /* ensures scroll offsets work */
  overflow-x: hidden;
}

.back-to-top {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: var(--accent-1);
  color: white;
  padding: 0.5rem;
  border-radius: 9999px;
  z-index: 50;
  transition: opacity 0.3s, transform 0.3s;
}

.back-to-top:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 1rem;
    right: 1rem;
    padding: 0.75rem;
  }
}
